.todo-list {
    
    &__content {
        max-width: 700px;
    }

    &__form {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__form-btn {
        background-color: var(--primary-color);
        color: #fff;
        padding: 10px 30px;
        border-radius: 8px;
        cursor: pointer;

        &--secondary {
            background-color: #fff;
            border: 2px solid var(--primary-color);
            color: var(--primary-color);
        }
    }

    &__title-control {
        border: 2px solid var(--primary-color);
        padding: 9px 13px;
        border-radius: 8px;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}
