@use 'sass:color';

.todo-item {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);

    &__action-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        opacity: 60%;
    }

    &__complete {
        text-decoration: line-through;
        color: color.mix(#fff, #191919, 50%);

        span {
            font-weight: 400 !important;
        }
    }

    &__custom-checkbox {
        display: flex;

        input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            position: relative;
        }

        input[type="checkbox"]::before {
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid var(--primary-color);
            position: absolute;
            left: 0;
            top: 3px;
        }

        input[type="checkbox"]:checked::before {
            content: 'check';
            font-family: 'Material Icons';
            font-size: 18px;
            background-color: var(--primary-color);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        span {
            margin: 0 30px 0 18px;
            line-height: 22px;
            font-weight: 500;
        }
        
    }
}
