<div class="todo-item">
    <label class="todo-item__custom-checkbox" [ngClass]="{'todo-item__complete': todoItem.completed}">
        <input id="{{ 'todoItem' + todoItem.id }}" type="checkbox" [checked]="todoItem.completed" (change)="completeTodoItem(todoItem)">
        <span class="font-medium">{{ todoItem.todo }}</span>
    </label>
    
    <div class="flex items-center gap-1">
        <button type="button" class="todo-item__action-btn" (click)="updateTodoItem(index)">
            <span class="material-icons-outlined">
                edit
            </span>
        </button>
        <button type="button" class="todo-item__action-btn" (click)="removeTodoItem(index)">
            <span class="material-icons-outlined">
                delete
            </span>
        </button>
    </div>
</div>
